




.introduction-header{
  z-index: 1;
  row-gap: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.introduction-header-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:144px ;

}

@media screen and(min-width:980px) {
  .introduction-header{
    max-width: 976px;
    width: 100%;
    margin: auto;
  }
}
.outer-section-container {
  width: 100%;
}
#section-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.inner-section {
  height: 100%;
 width: 100%!important;
  /* width: 90%; */
  margin: auto;
  display: flex;
  flex-direction: column;
}
.heading-container {
  padding: 4.5rem 4rem 3rem 4rem;
  width:  976px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  margin: auto;
}
.restricted {
  /* Other styles remain unchanged */

  background-image: linear-gradient(
    105deg,
    #75b469,
    #efce74,
    #fb833f,
    #fecc4f,
    #fb11e0,
    #fe732b,
    #0149ff,
    #01a3ff,
    #3e85fe,
    #883eec,
    #75b469
  );
  background-size: 900%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: ShineAnimation 30s linear infinite both; /* Remove _ngcontent-serverApp-c88 prefix */
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  animation: shineAnimation 30s linear infinite both;
}
@keyframes shineAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 300%;
  }
}

.inner-heading {
  margin: 2.4rem 2rem 2rem 2 rem;
  max-width: 39rem;
  text-align: center;
  font-size: 64px;
  margin-top: 1rem;
  font-weight: 800;
  font-family: "Mulish", "Mulish", Helvetica, sans-serif, Arial;

  color: #f8f8f8;
}
.structred-coding {
  color: #838485;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Mulish", "Mulish", Helvetica, sans-serif, Arial;
  margin-top: 1rem;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  max-width: 976px;
  /* min-width: 976px; */
  width: 100%;
  margin: auto;
  height: 60px;
  margin-top: 0.9rem;
  z-index: 1000;
}
.mybtn {
  height: 100%;
  max-width: 252px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f66c3b;
  color: white;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}
.mybtn > span {
  display: flex;

  font-family: "Mulish", Arial, Helvetica, sans-serif;
}

.image-container {
  width: 28px;
  height: 28px;
  position: relative;
  top:1px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5px;
  
}
.image-container > img {
  width: 28px;
  max-width: 28px;
  min-width: 28px;
  height: 28px;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.inner-section {

}
.inner-section > .videoContainer {
  max-width: 70%;
  width: 100%;
  margin: auto;
  height: 50vh;
}
.first-video-container {
 
  width: 100%;
  padding: 20px;
}

@media (max-width: 390px) {
   
    .inner-heading {
      font-size: 24px;
      max-width: 90%;
    }
   
    .structred-coding {
      font-size: 12px;
    }
    .mybtn {
      max-width: 130px;
      font-size: 12px;
    }
  }
  
  /* For screens between 390px and 653px */
  /* @media (min-width: 390px) and (max-width: 653px) {
    .outer-section-container {
      padding: 0.5rem;
    }
    .inner-heading {
      font-size: 28px;
      max-width: 90%;
    }
    .restricted {
      font-size: 16px;
    }
    .structred-coding {
      font-size: 14px;
    }
    
  } */
  
  /* For screens between 360px and 740px */
  /* @media (min-width: 360px) and (max-width: 740px) {
    .outer-section-container {
      padding: 0.5rem;
    }
    .inner-heading {
      font-size: 32px;
      max-width: 90%;
    }
    .restricted {
      font-size: 18px;
    }
    .structred-coding {
      font-size: 16px;
    }
    .mybtn {
      max-width: 180px;
      font-size: 16px;
    }
  }
   */
  /* For screens larger than 740px */
  /* @media (min-width: 740px) {
    .inner-section {
      max-width: 80%;
    }
  } */
  


  @media screen and (max-width: 980px){
    .inner-section{
      max-width: 976px;
      margin: auto;
    }
     .heading-container{
      max-width: 976px;
      width: 100%;
     }
     .inner-heading{
      font-size: 40px;
     }
  }
  @media screen and (max-width: 652px){
    .restricted{
      font-size: 1.1rem;
      margin-bottom: 12px;
    }
    .inner-heading{
      font-size: 2.1rem;
     }
  }
  @media screen and (max-width: 653px){
    .mybtn {
      max-width: 14rem;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Mulish',Arial, Helvetica, sans-serif;
    }
  }