#home::before{
 content: "";
 position: absolute;
 bottom: 0;
 right: 0;
 display: block;
 width: 100%;
 height: 100%;
 background: radial-gradient(60% 60% at 50% 50%, rgba(21, 24, 25, .5) 0%, #15181a 100%);
}