.interview-round {
  padding: 1px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  cursor:default;
  padding: 14px;
}
.interview-part1{
    display: flex;
    flex-direction:column ;
    
}
.goal{
    border: 2px solid black; 
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Mulish',Arial, Helvetica, sans-serif;
    color: #5780e9;
    position: relative;
    right: 15px;
    width: 22rem;
    padding: 0 0 10px 0;


}
.skill{
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Mulish',Arial, Helvetica, sans-serif;
    color: #5780e9;
    position: relative;
    right: 15px;
    width: 22rem;
    padding: 0 0 10px 0;
   
}
